{
  "MachineCacheFile": "MachineCache_datahub.json",
  "MachinesFilter": [
    {
      "Uri": "de.uni-stuttgart.isw.glas.sampleserver",
      "Id": "i=58192",
      "$comment": "GlassMachineType"
    }
  ],
  "ObjectTypeNamespaces": [
    "http://opcfoundation.org/UA/",
    "http://opcfoundation.org/UA/DI/",
    "http://opcfoundation.org/UA/Machinery/",
    "http://opcfoundation.org/UA/Glass/Flat/"
  ],
  "NamespaceInformations": [
    {
      "Namespace": "http://opcfoundation.org/UA/Glass/Flat/",
	    "Types": [
        {
          "Uri": "http://opcfoundation.org/UA/Glass/Flat/",
          "Id": "i=1015",
          "$comment": "GlassMachineType"
        }
      ],
      "IdentificationType": {
        "Uri": "http://opcfoundation.org/UA/Glass/Flat/",
        "Id": "i=1020",
        "$comment": "GlassMachineIdentificationType"

      },
      "ProductionPlanType":{
        "Uri":"http://opcfoundation.org/UA/Glass/Flat/",
        "Id":"i=1023",
        "$comment":"ProductionPlanType"
      }
    }
  ]
  ,
  "OpcUa": {
    "Endpoint": "opc.tcp://NB-MDORNAUS:4840",
    "Username": "",
    "Password": "",
    "Security": 1
  },
  "Mqtt": {
    "Hostname": "localhost",
    "Port": 1883,
    "Username": "opcua_client",
    "Password": "",
    "Prefix": "umati",
    "ClientId": "umati",
    "Protocol": "tcp"
  }
}
